:root {
  --CLOUD: #f4f4fd;
  --CORNFLOWER: #e7e9fc;
  --IRIS: #4d5ae5;
  --NAVYBLUE: #2e2f42;
  --SLATE: #434455;
  --WHITE: #ffffff;
  --OCEAN: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.32px;
  color: var(--SLATE);
  background-color: var(--WHITE);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.section {
  padding: 96px 0;
}

.head {
  padding: 17px 0;
  background: var(--WHITE);
  border-bottom: 1px solid var(--CORNFLOWER);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.navigate {
  display: flex;
  align-items: center;
}

.web {
  margin-right: 76px;
  color: var(--IRIS);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.studio {
  color: var(--NAVYBLUE);
}

.list-nav {
  display: flex;
  gap: 40px;
  display: none;
}

.list-item-nav {
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--NAVYBLUE);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-open {
  border: medium none;
  background-image: none;
  background: transparent;
  float: left;
  background-color: transparent;
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-mob {
  margin-bottom: 168px;
}

.mob-menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.focus {
  color: #404bbf;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.item-addres-mob:not(:last-child) {
  margin-bottom: 24px;
}

.addres-item-mob {
  color: var(--SLATE, #434455);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  font-style: normal;
}

.focus-mail {
  color: #4d5ae5;
}

.addres-list-mob {
  margin-bottom: 48px;
}

.mob-social {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.active {
  position: relative;
  color: var(--OCEAN);
}

.active::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
}

.list-item-nav:focus {
  color: var(--OCEAN);
}

.list-item-nav:hover {
  color: var(--OCEAN);
}

.adedres {
  display: flex;
  align-items: center;
  font-style: normal;
  margin-left: auto;
  display: none;
}

.addres-list {
  display: flex;
  gap: 40px;
}

.item-addres {
  padding: 24px 0;
}

.addres-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--SLATE);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addres-item:hover {
  color: var(--OCEAN);
}

.addres-item:focus {
  color: var(--OCEAN);
}

.hiro {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--NAVYBLUE);
  padding: 72px 52px;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hiro {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mob-x2.jpg);
  }
}

.hiro-flex {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titel {
  max-width: 216px;
  text-align: center;
  color: var(--WHITE);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 1.12px;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  cursor: pointer;
  background-color: var(--OCEAN);
}

.button:focus {
  background-color: var(--OCEAN);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

.spdt-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.background {
  display: none;
}

.title-list {
  text-align: center;
  margin-bottom: 8px;
  color: var(--NAVYBLUE);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.title-item {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.team {
  background-color: var(--CLOUD);
}

.title-team {
  color: var(--NAVYBLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.team-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.div-team {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: var(--WHITE);
}

.team-name {
  color: var(--NAVYBLUE);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.profession {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.item-social {
  height: 40px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 8px;
  border-radius: 50%;
  background-color: var(--IRIS);
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
  fill: currentColor;
}

.link:hover {
  background-color: #404bbf;
}

.link:focus {
  background-color: #404bbf;
}

.portfolio {
  color: var(--NAVYBLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfilio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  color: var(--NAVYBLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.product {
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.owerlay {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  background: var(--IRIS);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .product-overlay {
  transform: translateY(0);
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.footer {
  padding: 96px 0;
  background-color: var(--NAVYBLUE);
}

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-link {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 16px;
}

.footer-studio {
  color: var(--CLOUD);
}

.info {
  margin-right: 0;
  max-width: 288px;
  font-size: 16px;
  color: var(--CLOUD);
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.social-footer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 72px;
}

.text-footer {
  text-align: center;
  margin-bottom: 16px;
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-scial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-social {
  height: 40px;
}

.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 8px;
  border-radius: 50%;
  background-color: var(--IRIS);
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer {
  fill: currentColor;
}

.social-footer-link:hover {
  background-color: #31d0aa;
}

.social-footer-link:focus {
  background-color: #31d0aa;
}

.footer-text-subs {
  text-align: center;
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-input {
  min-width: 288px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #ffffff;
  line-height: 2;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}

.footer-input::placeholder {
  color: #fff;
}

.footer-form-btn {
  min-width: 165px;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 8px 24px;
  height: 40px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: var(--WHITE);
}

.footer-icon-sub {
  fill: currentColor;
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  padding: 72px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
}

.modal-titel {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  outline: transparent;
  color: #1e1823;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-text {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  outline: transparent;
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
  border-color: #4d5ae5;
}

.check-text {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.check-text a {
  color: var(--IRIS, #4d5ae5);
  text-decoration: underline;
}

.check-text span {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-text span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.margin {
  margin-bottom: 16px;
}

.margin-check {
  margin-bottom: 24px;
}

.submit-bnt {
  display: block;
  margin: 0 auto;
  height: 56px;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  border: 0;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .head {
    padding: 16px 0;
  }

  .web {
    margin-right: 120px;
  }

  .list-nav {
    display: flex;
  }

  .list-item-nav {
    padding: 30px 0;
  }

  .adedres {
    display: flex;
  }

  .addres-list {
    flex-direction: column;
    gap: 12px;
  }

  .item-addres {
    padding: 0;
  }

  .addres-item {
    font-size: 12px;
  }

  .mob-menu-open {
    display: none;
  }

  .mob-menu {
    display: none;
  }

  .hiro {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hiro {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tab-x2.jpg);
    }
  }

  .titel {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }

  .spdt-list {
    gap: 72px 24px;
  }

  .spdt-list-item {
    width: calc((100% - 24px) / 2);
  }

  .title-list {
    text-align: start;
  }

  .team-list {
    gap: 64px 24px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 2);
  }

  .container-footer {
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: center;
    gap: 0;
  }

  .footer-logo {
    display: inline-block;
    margin-right: 24px;
  }

  .info {
    max-width: 264px;
  }

  .footer-scial {
    display: inline-block;
  }

  .text-footer {
    text-align: start;
  }

  .footer-form {
    flex-direction: unset;
    align-items: baseline;
  }

  .footer-input {
    width: 264px;
    margin-right: 24px;
  }

  .footer-form-section {
    display: flex;
    flex-direction: column;
  }

  .footer-text-subs {
    text-align: start;
  }

  .modal {
    width: 408px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .head {
    padding: 24px 0;
  }

  .list-item-nav {
    padding: 24px 0;
  }

  .addres-list {
    flex-direction: unset;
    gap: 24px;
  }

  .addres-item {
    font-size: 16px;
  }

  .hiro {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/back.jpg);
    padding: 188px 0;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hiro {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-full-x2.jpg);
    }
  }

  .titel {
    margin-bottom: 48px;
  }

  .spdt-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .hidden {
    opacity: 1;
  }

  .spdt-list-item {
    width: calc((100% - 72px) / 4);
  }

  .background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background-color: var(--CLOUD);
  }

  .title-list {
    text-align: start;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
  }

  .title-item {
    font-weight: 400;
  }
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-list-item {
    width: calc((100% - 72px) / 4);
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }

  .footer {
    padding: 100px 0;
  }

  .container-footer {
    flex-wrap: nowrap;
    align-items: baseline;
  }

  .footer-logo {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-scial {
    margin-right: auto;
  }

  .social-footer {
    margin-bottom: 0;
  }
}
